[project]
	description = Simple, lightweight, dependable CLI for ZooKeeper
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Oleh Sklyarenko (osklyarenko)
[access "refs/for/refs/*"]
	read = group user/Oleh Sklyarenko (osklyarenko)
	push = group user/Oleh Sklyarenko (osklyarenko)
	label-Code-Review = -2..+2 group user/Oleh Sklyarenko (osklyarenko)
	label-Verified = -1..+1 group user/Oleh Sklyarenko (osklyarenko)
	rebase = group user/Oleh Sklyarenko (osklyarenko)
	removeReviewer = group user/Oleh Sklyarenko (osklyarenko)
	submit = group user/Oleh Sklyarenko (osklyarenko)
[access "refs/heads/*"]
	read = group user/Oleh Sklyarenko (osklyarenko)
	create = group user/Oleh Sklyarenko (osklyarenko)
	push = +force group user/Oleh Sklyarenko (osklyarenko)
	pushMerge = group user/Oleh Sklyarenko (osklyarenko)
[access "refs/tags/*"]
	push = group user/Oleh Sklyarenko (osklyarenko)
	push = +force group user/Oleh Sklyarenko (osklyarenko)
